.bgimg {
  /* background: url("../images/black-and-white-blur.jpg"); */
  background: url("../images/backlit-beach.jpg");
  background-position: center center;
  background-size: cover;
}

a:hover {
  text-decoration: none;
}

h1,
h3,
.modal-title {
  text-shadow: 1px 1px 1px black;
  letter-spacing: 0.1rem;
}

#btn-survey {
  box-shadow: 2px 2px 2px black;
}

label {
  letter-spacing: 0.1rem;
  color: chocolate;
}

p {
  color: chocolate;
  font-weight: normal;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

select.form-control {
  width: 200px;
}
